/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/shopify/event/*.log
/vendor
.env.testing
.env
.env.backup
.startup.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/phpmyadmin
/public/test-result
/db/
dump.rdb
laravel-echo-server.lock

worker.log
supervisord.log
supervisord.pid
/.idea
/.vscode
/storage/logs/*
/storage/debugbar/*
/storage/app/materials/*
/storage/app/public/materials/*

.DS_Store
